{% block navtop %}

<nav>
  <input type="checkbox" id="check">
  <label for="check" class="checkbtn">
    <i class="fas fa-bars"></i>
  </label>
  <label class="logo">Ogalandlord</label>
  <ul>
    <li><a class="active" href="#">For Sale</a></li>
    <li><a href="#">For Rent</a></li>
    <li><a href="#">Engage</a></li>
    <li><a href="#">Login</a></li>
    <li><a href="#">Sign-Up</a></li>
    <li><a class="btn btn-sm bg-warning" href="#">List Property</a></li>
    <li><a class="btn btn-sm bg-warning" href="#">Request Property</a></li>
    
    
    
 
    
  </ul>
</nav>

<!-- <nav class="navbar navbar-expand-lg navbar-light header">
  
    <nav class="navbar navbar-light header navbar-collapse">
      <div class="container-fluid">
        <a class="offcanvas-title text-decoration-none" id="offcanvasNavbarLabel" href="#">
                <img src='/static/images/ogalandlord_logo2.png' alt="OgaLandlord" width="60" height="60" class="d-inline-block text-white align-text-top">
                  
            </a> 
            
        <button
          class="navbar-toggler bg-white"
          type="button"
          data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasNavbar"
          aria-controls="offcanvasNavbar"
        >
          <span class="navbar-toggler-icon bg-white"></span>
        </button>
        <div
          class="offcanvas offcanvas-end"
          tabindex="-1"
          id="offcanvasNavbar"
          aria-labelledby="offcanvasNavbarLabel"
        >
          <div class="offcanvas-header">
            
            <a class="offcanvas-title text-decoration-none" id="offcanvasNavbarLabel" href="#">
                <img src='/static/images/ogalandlord_logo2.png' alt="OgaLandlord" width="60" height="60" class="d-inline-block">
                    
            </a> 
            <button
              type="button"
              class="btn-close text-reset"
              data-bs-dismiss="offcanvas"
              aria-label="Close"
            ></button>
          </div>
          <div class="offcanvas-body header">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
              <li class="nav-item">
                <a class="nav-link fw-bold text-white"  aria-current="page" href="#"
                  >For Sale</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link fw-bold text-white"  aria-current="page" href="#"
                  >For Rent</a
                >
              </li>
              <li class="nav-item dropdown">
    <a class="nav-link fw-bold text-white dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Engage</a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Estate Agent</a></li>
      <li><a class="dropdown-item" href="#">Lawyer</a></li>
      <li><a class="dropdown-item" href="#">Plumber</a>
        <li><a class="dropdown-item" href="#">Electrician</a>
          <li><a class="dropdown-item" href="#">Security</a>
      
      </li>
      
    </ul>
              
              <li class="nav-item">
                <a class="nav-link fw-bold text-white"  aria-current="page" href="#"
                  >Login</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link fw-bold text-white"  aria-current="page" href="#"
                  >Sign -Up</a
                >
              </li>
              <button class=" btn btn-sm bg-success text-white fw-bold"> Add a Property </button> &nbsp; &nbsp; <br>
              <button class="btn btn-sm bg-success text-white fw-bold"> Request a Property </button>
               
              
              
            
          </div>
        </div>
      </div>
    </nav>
  
</nav> -->

{% endblock navtop %}
